<head th:fragment="head">

    <meta charset="UTF-8">

    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">


    <title>SafeWork</title>



    <!-- ==============================
         BOOTSTRAP
         Framework para componentes base
    =============================== -->

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">



    <!-- ==============================
         TIPOGRAFÍAS SAFEWORK

         Sora:
         - Títulos
         - Marca
         - Encabezados

         Inter:
         - Texto
         - Formularios
         - Botones

    =============================== -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com">


    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sora:wght@600;700&display=swap"
        rel="stylesheet">





    <!-- ==============================
         SISTEMA DE DISEÑO GLOBAL

         Variables:
         - Colores SafeWork
         - Tipografías
         - Sombras
         - Radios
         - Estilos generales

    =============================== -->

    <link rel="stylesheet"
          th:href="@{/css/safework-theme.css}">





    <!-- ==============================
         COMPONENTES GENERALES

         Incluye:
         - Botones
         - Formularios
         - Tablas
         - Badges

    =============================== -->

    <link rel="stylesheet"
          th:href="@{/css/components.css}">
    <link rel="stylesheet"
          th:href="@{/css/forms.css}">





    <!-- ==============================
         ESTILOS DASHBOARD

         Exclusivo para:
         - Indicadores
         - Tarjetas SST
         - Gráficos

    =============================== -->

    <link rel="stylesheet"
          th:href="@{/css/dashboard.css}">

    <link rel="stylesheet"
          th:href="@{/css/dashboard-layout.css}">
    <link rel="stylesheet" th:href="@{/css/internal-layout.css}">





    <!-- ==============================
         ESTILOS LOGIN

         Incluye:
         - Fondo login
         - Tarjeta autenticación
         - Inputs
         - Botón ingresar
         - Animaciones

    =============================== -->

    <link rel="stylesheet"
          th:href="@{/css/login.css}">


</head>
