<!doctype html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head}"> </head>

  <body class="login-body">
    <div class="login-container">
      <!-- Logo SafeWork -->

      <div class="login-logo-wrapper">
        <img
          th:src="@{/images/logo.png}"
          alt="Logo SafeWork"
          class="login-logo"
        />
      </div>

      <!-- Titulo -->

      <h1 class="login-title">SafeWork</h1>

      <div class="brand-line"></div>

      <p class="login-subtitle">Sistema Integral de Gestión SST</p>

      <!-- Mensaje error -->

      <div class="alert alert-danger" th:if="${param.error}">
        Usuario o contraseña incorrectos.
      </div>

      <!-- Mensaje logout -->

      <div class="alert alert-success" th:if="${param.logout}">
        Sesión cerrada correctamente.
      </div>

      <!-- Formulario -->

      <form th:action="@{/login}" method="post">
        <!-- Usuario cuando ingrese sus seran enviados al spring security -->

        <div class="mb-3">
          <label class="login-label"> Usuario </label>

          <input
            type="text"
            name="username"
            class="login-input"
            placeholder="Ingrese usuario"
          />
        </div>

        <!-- Contraseña -->

        <div class="mb-3">
          <label class="login-label"> Contraseña </label>

          <input
            type="password"
            name="password"
            class="login-input"
            placeholder="Ingrese contraseña"
          />
        </div>

        <!-- Botón -->

        <button type="submit" class="login-button">Ingresar</button>
      </form>

      <!-- Footer -->

      <div class="login-footer">Seguridad y Salud en el Trabajo</div>
    </div>
  </body>
</html>
